<a href="/">Home</a>
<a href="about">About</a>

<body>
    <h1>A little about me</h1>
    <h2>and some of the things I've worked on</h2>

    <p>This is a work in progress through the astro docs</p>

    <p>lorem ipsum, lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ea sapiente porro praesentium doloribus culpa minus, suscipit dicta delectus quod quia, aliquid autem consequuntur esse nostrum ex. Delectus, nihil sed.</p>
</body> 