---
import Social from "./Social.astro"
---

<footer class="bg-gray-100 p-4 text-center  bottom-0 w-full flex items-center justify-center">
  <div class="flex space-x-4 justify-center">
    <Social platform="github" username="mattiyat" />
    <Social platform="github" username="mattiyat" />
  </div>
</footer>